.Order {
  background-color: rgb(36, 80, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.Order .ribbon {
  top: 5%;
  z-index: 55;
}

.order-header {
  color: white;
  font-size: 88px;
  width: 350px;
  word-break: break-all;
  text-align: center;
  transform: scaleX(1.5);
  font-weight: 600;
  text-shadow: 8px 4px 6px rgba(0, 0, 0, 0.5);
}

.order-info {
  margin: 270px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  overflow: hidden;
  height: 100vh;
}

.Order h3 {
  font-size: 52px;
}

.Order .order-info .home-img-container {
  top: 40%;
  left: -20%;
  height: 300px;
  width: 700px;
  padding: 400px 0 0 0;
}

.Order .ribbon {
  height: 115px;

  position: absolute;

  left: -15px;
  padding: 0 50px;

  display: flex;
  gap: 150px;
  align-items: center;
  font-size: 52px;
  color: rgb(90, 81, 1);
}

.Order .ribbon1 {
  transform: rotate(-10deg);
  z-index: 22;
  top: 18%;
}
.Order .ribbon2 {
  top: 20%;
  transform: rotate(10deg);
  z-index: 23;
}

.order-footer {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.order-footer-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 50px;
}

.order-footer-links {
  display: flex;
  gap: 40px;
}
