.Home {
  position: relative;
  height: 100vh;
  background-color: rgb(36, 80, 56);
  overflow: hidden;
  z-index: 20;
}
.home-header {
  font-size: 140px;
  color: white;
  text-align: center;
  margin: 100px 0 0;
}
.home-txt {
  position: absolute;
  top: 70%;
  left: 3%;
  flex-wrap: wrap;
  width: 200px;
  font-size: 14px;
  color: white;
  font-weight: 300;
}
