.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  z-index: 25;
  width: 100vw;
  animation: glass 2s ease-out;
}

.nav-header {
  color: white;
}

.nav-links {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.nav-link-container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.navbar.scrolled {
  background-color: rgb(36, 80, 56);
  transition: all 1s;
  opacity: 0.8;
}

.nav-btn {
  background-color: white;
  color: rgb(36, 80, 56);
  border-radius: 15px;
  font-weight: 600;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
@keyframes glass {
  0% {
    opacity: 0;
  }
  100% {
  }
}
