.Banner {
  height: 70vh;
  background-color: antiquewhite;
  overflow-x: hidden;
}

.home-img {
  height: 100%;
  object-fit: cover;
  animation: glass 3s ease-out forwards;
}

.home-img-container {
  position: absolute;
  left: 10%;
  top: 35%;
  z-index: 23;
  height: 700px;
  width: 1100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ribbon {
  background-color: rgb(233, 200, 14);
  height: 115px;
  position: absolute;
  white-space: nowrap;
  left: -1%;
  padding: 0 150px;
  display: flex;
  gap: 150px;
  align-items: center;
  font-size: 52px;
  width: 101vw;
  color: rgb(92, 84, 10);
  animation: glass 2s ease-out;
}

.ribbon1 {
  background-color: rgb(187, 160, 8);

  transform: rotate(-6deg);
  z-index: 22;
  top: 100%;
}
.ribbon2 {
  top: 100%;
  transform: rotate(4deg);
  z-index: 23;
}

.home-txt2 {
  position: absolute;
  top: 85%;
  right: 0%;
  flex-wrap: wrap;
  width: 250px;
  font-size: 14px;
  color: rgb(36, 80, 56);
  font-weight: 400;
  text-align: justify;
}

.home-circle {
  overflow: hidden;
  height: 700px;
  /* position: relative;
  display: flex;
  align-items: center;
  justify-items: start;
  height: 550px;
  width: 550px;
  background-color: black;
  border-radius: 50%;
  z-index: 21;
  mask-image: linear-gradient(to bottom, rgb(14, 14, 14) 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(14, 14, 14) 80%,
    transparent 100%
  );
  background-color: rgba(0, 0, 0, 0.5); */
}

.badge {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 72%;
  left: 15%;
}

h3 {
  display: flex;
  align-items: center;
  gap: 5px;
}
h3 svg {
  height: 50px;
  width: 50px;
}
