.Banner {
  height: 60vh;
  background-color: antiquewhite;
}

.home-img {
  height: 650px;
  object-fit: cover;
}

.home-img-container {
  position: absolute;
  left: 10%;
  top: 45%;
  z-index: 23;
  height: 700px;
  width: 1100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ribbon {
  background-color: rgb(218, 185, 0);
  height: 115px;
  width: 1600px;
  position: absolute;

  left: -6%;
  padding: 0 200px;

  display: flex;
  gap: 150px;
  align-items: center;
  font-size: 52px;
  color: white;
}

.ribbon1 {
  transform: rotate(-6deg);
  z-index: 22;
  top: 100%;
}
.ribbon2 {
  top: 102%;
  transform: rotate(4deg);
  z-index: 23;
}

.home-txt2 {
  position: absolute;
  top: 75%;
  right: 0%;
  flex-wrap: wrap;
  width: 300px;
  font-size: 14px;
  color: rgb(36, 80, 56);
  font-weight: 400;
}

.home-circle {
  overflow: hidden;
  /* position: relative;
  display: flex;
  align-items: center;
  justify-items: start;
  height: 550px;
  width: 550px;
  background-color: black;
  border-radius: 50%;
  z-index: 21;
  mask-image: linear-gradient(to bottom, rgb(14, 14, 14) 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(14, 14, 14) 80%,
    transparent 100%
  );
  background-color: rgba(0, 0, 0, 0.5); */
}

.badge {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 65%;
  left: 10%;
}
